//variables
$colBorder:2px solid black;
$center-color: #E2EFD9;

//mixin
@mixin alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.motherDiv{
    height: 100vh;
}
.sideCol{
background-color: #FBE4D5;
border-right: $colBorder;

}
.bodyCenter{

background-color: $center-color;
border-right: $colBorder;
padding-top: 100px;
// input{
//     background-color:$center-color ;
// }

}
.fixedContent {
    
}


.childOfDiv{
    width: 400px;
    margin: auto;
    p{
        line-height:.5rem;
    }
}
.buttonDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.inputSizing{
    width: 400px;
    background-color: $center-color;
}
.commonBtn{
    background-color: $center-color;
    padding: 0 15px;
}